.articles
	margin-top 20px
	padding-top 35px
	&-title
		margin-bottom 13px
		font-weight 700
		font-size 30px  
	&-text
		margin-bottom 50px
		color #797979 
		line-height 24px
	&-list
		font-size 0
		margin-left -30px
		overflow hidden
		&-i
			position relative
			margin-left 30px
			margin-bottom 3px
			width 262px
			min-height 272px
			display inline-block
			vertical-align top
			&-a 
				display block
				text-decoration none
				color $dark 
			&-img
				margin-bottom 14px
				border-radius 3px
				img
					border-radius 3px
			&-title
				margin-bottom 10px 
				font-weight 700 
				font-size 14px 
			&-text
				margin-bottom 10px
				font-size 12px
				color $gray 
				line-height 18px
			&-label
				position absolute
				top 10px
				left 10px
				padding 0 12px
				display inline-block
				background $orange 
				font-size 12px
				font-weight 700 
				color #FFF 
				line-height 20px
				border-radius 3px
				