.banner-fixed
	position fixed
	top 220px
	right 0
	width 251px
	height 403px
	background url(../images/banner-fixed.png) no-repeat
	box-shadow 0 1px 3px 0 rgba(49,39,28,.1) 
	z-index 1
	display none 
	&-text
		padding 202px 10px 24px 15px
		font-size 21px
		font-weight 800
		color #FFF   
		line-height 30px
		text-shadow 0 1px 3px rgba(49,39,28,.1)
	&-button
		margin 0 21px 0 16px
		padding 0 46px
		display inline-block
		font-weight 700 
		font-size 14px
		line-height 40px
		background #5b4235
		color #fff  
		border-radius 3px 
		box-shadow 0 1px 3px 0 rgba(49,39,28,.1) 
		text-decoration none
		white-space nowrap







