.breadcrumbs
	padding 19px 130px 7px 0
	&-ol
		clearfix()
	&-i
		margin-right 8px
		float left
		&-icon
			display inline-block
			vertical-align middle
			text-indent -9999px
			sprite($breadcrumbs-arrow) 
	&-a
		padding-right 8px
		font-size 13px
		font-weight 400 
		color $orange 
		text-decoration none
		&:hover
			text-decoration underline
		
