.content-banner
	padding 11px 15px
	height 110px
	background url("../images/content-banner.jpg") no-repeat
	color #FFF  
	&-title
		margin-bottom 10px
		font-weight 800
		font-size 27px 
		text-shadow 0 2px 10px rgba(49,39,28,.22) 
	&-text
		font-weight 600 
		line-height 19px 
		text-shadow 0 2px 10px rgba(49,39,28,.22) 