.subscribe
	position relative
	// padding-top 24px
	background #F8F8F8 
	&-in
		position relative
		padding-top 3px
		min-height 110px
	&:before
		content ""
		position absolute
		top -24px
		left 0
		right 0
		height 24px 
		display block
		background transparent url(../images/shadow-bottom.png) 0 0 repeat-x 
	&-title
		display inline-block
		font-weight 700 
		font-size 16px
		line-height 108px
		text-transform uppercase
	&-form
		position absolute
		top 50%
		right 0
		margin-top -18px 
		font-size 0
	&-input
		border 1px solid #E7E7E7
		border-width 1px 0 1px 1px 
		padding 0 15px
		display inline-block
		width 212px
		background #fff
		font-size 12px  
		line-height 35px
		height 35px 
		color #A9A9A9 
		border-radius 3px 0 0 3px   
	&-submit
		border none 
		line-height 35px
		width 49px
		height 35px
		display inline-block  
		background $orange url(../images/mail-icon.png) 50% no-repeat
		font-size 12px
		text-indent -9999px
		border-radius 0 3px 3px 0

.footer
	background url(../images/footer-bg.jpg) repeat-x 
	&-logos
		padding 48px 0 36px
		border-bottom 1px solid #776B64 
		font-size 0
		clearfix()
		&-i
			width 14.27777%
			display inline-block
			vertical-align top
			&-icon
				display inline-block
				text-indent -9999px
			&-1
				.footer-logos-i-icon
					margin-left -6px
					margin-top 22px
					sprite($mastercard-icon)
			&-2
				.footer-logos-i-icon
					margin-left 34px 
					sprite($yandex-icon)
			&-3
				.footer-logos-i-icon
					margin-top 15px
					margin-left 26px
					sprite($paypal-icon)
			&-4
				.footer-logos-i-icon
					margin-top 11px
					margin-left 33px
					sprite($american-express-icon)
			&-5
				.footer-logos-i-icon
					margin-top 13px
					margin-left 32px
					sprite($visa-icon)
			&-6
				.footer-logos-i-icon
					margin-top 4px
					margin-left 11px
					sprite($qiwi-icon)
			&-7
				.footer-logos-i-icon
					margin-top 5px
					margin-left -3px
					sprite($webmoney-icon)
	&-body
		border-bottom 1px solid #776B64
		position relative
		padding 33px 0 29px
		font-size 0
		clearfix()
	&-contacts,
	&-menu
		display inline-block
		vertical-align top
	&-contacts
		width 293px
		&-title
			margin-bottom 15px
			font-size 13px
			color $orange 
		&-phone
			margin-bottom 17px
			font-weight 700 
			font-size 30px
			color $orange
		&-time
			margin-bottom 14px
			font-size 13px
			color #FFF 
			&-icon
				margin-right 5px
				display inline-block
				sprite($time2)
		&-email
			font-size 13px
			color #FFF
			&-icon
				margin-right 5px
				display inline-block
				sprite($mail2-icon) 
	&-menu
		font-size 0
		&-col
			width 234px
			font-size 13px
			display inline-block
			vertical-align top
			color #fff 
			&-middle
				width 208px
		&-title
			margin-bottom 17px
			font-size 16px
			text-transform uppercase
		&-i
			line-height 24px
		&-a
			color #FFF
			text-decoration none  
	&-yandex
		position absolute
		top 33px
		right 0
		width 195px
		height 125px
		background url("../images/yandex-widget.jpg") no-repeat 
	&-bottom 
		position relative
		padding 20px 0 20px 
		min-height 107px
		clearfix()
	&-copyright,
	&-address
		display inline-block
		font-size 12px
		line-height 67px 
		color #FFF 
	&-copyright
		margin-right 55px
	&-policy
		position absolute
		top 49px
		right 0
		font-size 12px
		&-a	
			color #FFF 
			
.light-menu
	background $orange     
	&-in
		min-height 70px
	.order-now
		position relative
		padding 0 195px 0 40px
		float right
		background url(../images/cart2-icon.png) 0 no-repeat 
	.order-now-text
		display inline-block
		font-size 16px
		line-height 70px
	.order-now-amount
		margin-right 9px 
		padding 0 8px 
		font-weight 600 
		line-height 24px 
		background #FFF
		border-radius 3px 
	.order-now-price
		padding-left 7px
		font-weight 600
	.order-now-button
		position absolute
		top 50%
		right 0 
		margin-top -19px 
		padding 0 20px 
		background #FFF
		font-weight 700 
		font-size 14px 
		color $dark 
		text-decoration none
		line-height 35px 
		border-radius 3px 
			
				

		 
		 
		


