.notification
	position fixed
	top 220px
	right 0 
	width 251px
	background $orange
	line-height 63px 
	text-align center
	border-radius 3px 0 0 3px
	box-shadow 0 1px 3px 0 rgba(49,39,28,.1)   
	z-index 1
	&-text
		display inline-block
		font-weight 600
		font-size 14px
		line-height 18px 
		color #FFF 
