

.services
	width 1140px
	height 421px  
	background url("../images/services-bg.jpg") no-repeat 
	&-list
		position relative
		width 1140px
		height 421px  
		padding 30px 14px 30px 10px
		&-i 
			padding 0px 0 12px 
			border-top 1px solid #989595 
			margin-right 478px
			color #989595
			&-title
				margin-bottom 11px
				font-size 26px
				font-weight 700
			&-text 
				margin-bottom 18px
				line-height 23px
			&-button
				display inline-block
				padding 0 30px
				background $orange
				font-weight 800
				color #FFF   
				line-height 32px
				border-radius 3px 
				text-transform uppercase
				text-decoration none
			&:hover
				border-top 1px solid #989595 
				color #fff
			&:first-child 
				border-top none
		
 