.side 
	width 262px
	float right
	&-banner
		margin-bottom 13px
		width 264px
		height 296px
		-webkit-border-radius 3px
		border-radius 3px
		box-shadow 0 1px 3px 0 rgba(49,39,28,.1) 
		&-a
			position relative
			display block
		&-img
			-webkit-border-radius 3px
			border-radius 3px
			width 266px
			height 301px
			img
				width 264px
				height 300px
				-webkit-border-radius 3px
				border-radius 3px
		&-content
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			z-index 1
			text-align center 
			color #FFF
		&-label
			margin-top 34px 
			margin-bottom 18px
			padding 0 8px 
			display inline-block
			background $orange 
			font-size 11px
			font-weight 700 
			line-height 20px
			color #FFF 
			-webkit-border-radius 3px
			border-radius 3px
		&-percent
			margin-bottom 41px
			font-weight 800
			font-size 70px
		&-title
			margin-bottom 18px
			font-weight 800 
			font-size 24px
		&-text
			font-weight 600
			font-size 12px    
	&-subscribe
		&-title
			margin-bottom 12px
			font-weight 800 
			font-size 18px
			line-height 21px
		&-text
			margin-bottom 18px
			font-size 14px
			color #797979
		&-button
			position relative
			padding 0 80px 0 90px
			display block
			background $orange
			line-height 40px
			font-weight 700 
			font-size 14px
			color #FFF 
			-webkit-border-radius 3px
			border-radius 3px
			text-decoration none
			box-shadow 0 1px 3px 0 rgba(49,39,28,.1) 
			&:after
				position absolute
				top 0
				left 47px
				line-height 40px
				content ""
				width 1px
				height 40px
				background #FFB84B   
			&-icon
				position absolute
				top 10px
				left 18px 
				display inline-block
				sprite($odnoklassniki-icon)
			  
	
		
		