.bx-wrapper {
	position: relative;
	margin: 0 auto 0;
	padding: 0;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bxslider {
	margin: 0;
	padding: 0;
}
ul.bxslider {
	list-style: none;
}
.bx-viewport {
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
}


.slider
	position relative
	float left
	width 850px
	height 436px 
	overflow hidden
	-webkit-border-radius 3px
	border-radius 3px
	box-shadow 0 1px 3px 0 rgba(49,39,28,.1) 
	&-ul 
		height 439px
	&-i 
		-webkit-border-radius 3px 
		border-radius 3px 
		&-img
			width 850px
			height 436px
			overflow hidden
			-webkit-border-radius 3px
			border-radius 3px
.slider-buttons
	position absolute
	bottom 0
	left 0
	right 0
	&-prev
		position absolute 
		bottom 0
		left 0
		width 45px
		height 45px
	&-next
		position absolute 
		bottom 0
		right 0
		width 45px
		height 45px
.slider-pagination
	position absolute
	bottom 11px
	left 50%
	margin-left -35px
	z-index 53
	a
		margin-left 5px
		border 2px solid transparent
		display inline-block
		width 11px
		height 11px
		background rgba(255,255,255,.25)  
		-webkit-border-radius 999px
		border-radius 999px
		text-indent -9999px
		&.active
			border 2px solid #fff
			background transparent
.slider-buttons
	position absolute
	left 0
	right 0
	bottom 0
	border-top 1px solid rgba(255,255,255,.30) 
	height 47px
	z-index 52 
	&-prev
		position absolute
		left 0
		width 47px      
		height 46px 
		border-right 1px solid rgba(255,255,255,.30)
		.bx-prev
			display block
			height 100%
			background url(../images/arrow-left.png) 50% no-repeat 
			text-indent -9999px
		
	&-next
		position absolute
		right 0
		border-left 1px solid rgba(255,255,255,.30) 
		width 47px      
		height 46px 
		.bx-next
			display block
			height 100%
			background url(../images/arrow-right.png) 50% no-repeat 
			text-indent -9999px
.slider-i-label
	position absolute
	top 65px
	left 38px
	padding 0 10px 
	background $orange
	font-size 11px
	font-weight 700 
	color #FFF
	line-height 20px
	-webkit-border-radius 3px
	border-radius 3px 
	z-index 1
.slider-fade
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	background rgba(20,13,5,.52) 
	-webkit-border-radius 3px
	border-radius 3px
.slider-i-content
	position absolute
	top 99px
	right 0
	bottom 45px
	left 38px
	padding-right 340px
	color #FFF 
	&-title
		margin-bottom 30px
		font-weight 700
		font-size 60px
	&-text
		margin-bottom 29px
		font-weight 600
		font-size 16px 
	&-button
		border 2px solid #fff
		padding 0 28px
		display inline-block
		font-size 14px
		font-weight 600 
		color #FFF
		line-height 36px
		text-decoration none
		text-transform uppercase
		-webkit-border-radius 3px
		border-radius 3px
		


