.to-top
	position fixed
	top 0
	left 0
	bottom 0
	border-right 1px solid #F9AE26 
	width 100px
	display block
	background rgba(251,162,0,.6)
	cursor: pointer
	z-index 3
	&-icon
		position absolute
		top 50%
		left 50%
		margin-top -17px 
		margin-left -13px 
		text-indent -9999px
		sprite($top-arrow)