body
	min-width 1140px 
	background #ececec 
	font-family 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif
	font-size 13px
	color $header-body 
.topline-in,
.header-body
	margin auto
	// padding 0 15px 
	width 1140px
.header-body,
.header-bottom,
.top-in,
.advantages-in,
.description-in,
.catalog-in,
.services,
.articles,
.description-bottom,
.subscribe-in,
.footer-in,
.light-menu-in,
.inner,
.search-in
	padding 0
	margin auto
	width 1140px
.inner
	position relative
	clearfix()
.inner-title
	padding-bottom 39px
	font-weight 700 	
	text-align left
	font-size 24px