.articles
	h1.articles-title Новости и статьи
	p.articles-text Мы поможем вам разобраться в выборе паркетной доски. Расскажем о преимуществах паркетной доски. Цены на напольные покрытия нашего интернет-магазина Parket.Vtapkah.ru – конкурентные. Работаем напрямую с производителями, стоимость на представленные модели каталога устанавливается с учетом их рекомендаций.
	ul.articles-list
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-1.jpg", alt="image")
				h3.articles-list-i-title Преимущества паркетной доски
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Паркет 
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-2.jpg", alt="image")
				h3.articles-list-i-title Ламинат в гостинной
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Ламинат
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-3.jpg", alt="image")
				h3.articles-list-i-title Преимущества паркетной доски
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Паркет 
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-4.jpg", alt="image")
				h3.articles-list-i-title Ламинат в гостинной
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Ламинат
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-5.jpg", alt="image")
				h3.articles-list-i-title Преимущества паркетной доски
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Паркет 
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-6.jpg", alt="image")
				h3.articles-list-i-title Ламинат в гостинной
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Ламинат
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-7.jpg", alt="image")
				h3.articles-list-i-title Преимущества паркетной доски
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Паркет 
		li.articles-list-i
			a.articles-list-i-a(href="#")
				.articles-list-i-img
					img(src="assets/images/content/post-thumb-8.jpg", alt="image")
				h3.articles-list-i-title Ламинат в гостинной
				p.articles-list-i-text Наиболее популярным напольным покрытием на сегодняшний день является...
				.articles-list-i-label Ламинат
