.breadcrumbs
	ol.breadcrumbs-ol(itemscope itemtype="http://schema.org/BreadcrumbList")
		li.breadcrumbs-i(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
			a.breadcrumbs-a(itemprop="item" href="https://example.com/dresses")
				span.breadcrumbs-a-span(itemprop="name") Главная 
				meta(itemprop="position" content="1")
			span.breadcrumbs-i-icon &rarr;
		li.breadcrumbs-i(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
			a.breadcrumbs-a(itemprop="item" href="https://example.com/dresses/real")
				span.breadcrumbs-a-span(itemprop="name") Каталог 
				meta(itemprop="position" content="2")
			span.breadcrumbs-i-icon &rarr;
		li.breadcrumbs-i(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
			a.breadcrumbs-a(itemprop="item" href="https://example.com/dresses/real")
				span.breadcrumbs-a-span(itemprop="name") Ламинат 
				meta(itemprop="position" content="3")
			span.breadcrumbs-i-icon &rarr;
		li.breadcrumbs-i(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
			a.breadcrumbs-a(itemprop="item" href="https://example.com/dresses/real")
				span.breadcrumbs-a-span(itemprop="name") Meister
				meta(itemprop="position" content="4")
			span.breadcrumbs-i-icon &rarr;
		li.breadcrumbs-i(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
			a.breadcrumbs-a(itemprop="item" href="https://example.com/dresses/real")
				span.breadcrumbs-a-span(itemprop="name") LS 300 
				meta(itemprop="position" content="5")
