table.cart-table
	tr.table-row-head
		th Описание товара
		th Цена упаковки
		th Количество
		th Общая площадь
		th Стоимость
		th Удалить
	tr.table-row
		td
			.cart-i-desc
				.cart-i-label
				.cart-i-img
					img(src="assets/images/content/cart-item-img-1.jpg", alt="images")
				.cart-i-content 
					.cart-i-content-title № 1353 Дуб белый вытертый MAT
					.cart-i-content-text Артикул: 26-002-00040
					ul.cart-i-content-params
						li.cart-i-content-params-i Тип соединения: Замковое соединение
						li.cart-i-content-params-i Наличие фаски: Без фаски
						li.cart-i-content-params-i Поверхность: Матовая
						li.cart-i-content-params-i Размеры: 1295х192х12,1
						li.cart-i-content-params-i Оттенок: Бордовый
		td
			.cart-i-price <span>3 705</span> руб.
		td 
			.cart-table-body-col-quantity
				input.cart-table-body-col-quantity-input(type="text" value="0")
		td 
			.cart-i-area <span>7,46</span> м<sup>2</sup> 
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			a.cart-i-delete(href="#") Убрать из корзины 
	tr.table-row
		td 
			.cart-i-desc
				.cart-i-img
					img(src="assets/images/content/cart-item-img-2.jpg", alt="images")
				.cart-i-content 
					.cart-i-content-title № 1353 Дуб белый вытертый MAT
					.cart-i-content-text Артикул: 26-002-00040
					ul.cart-i-content-params
						li.cart-i-content-params-i Тип соединения: Замковое соединение
						li.cart-i-content-params-i Наличие фаски: Без фаски
						li.cart-i-content-params-i Поверхность: Матовая
						li.cart-i-content-params-i Размеры: 1295х192х12,1
						li.cart-i-content-params-i Оттенок: Бордовый
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			.cart-table-body-col-quantity
				input.cart-table-body-col-quantity-input(type="text" value="0")
		td 
			.cart-i-area <span>2,46</span> м<sup>2</sup> 
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			a.cart-i-delete(href="#") Убрать из корзины
	tr.table-row
		td 
			.cart-i-desc
				.cart-i-label
				.cart-i-img
					img(src="assets/images/content/cart-item-img-3.jpg", alt="images")
				.cart-i-content 
					.cart-i-content-title № 1353 Дуб белый вытертый MAT
					.cart-i-content-text Артикул: 26-002-00040
					ul.cart-i-content-params
						li.cart-i-content-params-i Тип соединения: Замковое соединение
						li.cart-i-content-params-i Наличие фаски: Без фаски
						li.cart-i-content-params-i Поверхность: Матовая
						li.cart-i-content-params-i Размеры: 1295х192х12,1
						li.cart-i-content-params-i Оттенок: Бордовый
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			.cart-table-body-col-quantity
				input.cart-table-body-col-quantity-input(type="text" value="0")
		td 
			.cart-i-area <span>4,46</span> м<sup>2</sup>  
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			a.cart-i-delete(href="#") Убрать из корзины
	tr.table-row
		td 
			.cart-i-desc
				.cart-i-label
				.cart-i-img
					img(src="assets/images/content/cart-item-img-4.jpg", alt="images")
				.cart-i-content 
					.cart-i-content-title № 1353 Дуб белый вытертый MAT
					.cart-i-content-text Артикул: 26-002-00040
					ul.cart-i-content-params
						li.cart-i-content-params-i Тип соединения: Замковое соединение
						li.cart-i-content-params-i Наличие фаски: Без фаски
						li.cart-i-content-params-i Поверхность: Матовая
						li.cart-i-content-params-i Размеры: 1295х192х12,1
						li.cart-i-content-params-i Оттенок: Бордовый
		td
			.cart-i-price <span>3 705</span> руб.
		td 
			.cart-table-body-col-quantity
				input.cart-table-body-col-quantity-input(type="text" value="0")
		td 
			.cart-i-area <span>1,46</span> м<sup>2</sup>
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			a.cart-i-delete(href="#") Убрать из корзины
	tr.table-row
		td 
			.cart-i-desc
				.cart-i-img
					img(src="assets/images/content/cart-item-img-5.jpg", alt="images")
				.cart-i-content 
					.cart-i-content-title № 1353 Дуб белый вытертый MAT
					.cart-i-content-text Артикул: 26-002-00040
					ul.cart-i-content-params
						li.cart-i-content-params-i Тип соединения: Замковое соединение
						li.cart-i-content-params-i Наличие фаски: Без фаски
						li.cart-i-content-params-i Поверхность: Матовая
						li.cart-i-content-params-i Размеры: 1295х192х12,1
						li.cart-i-content-params-i Оттенок: Бордовый
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			.cart-table-body-col-quantity
				input.cart-table-body-col-quantity-input(type="text" value="0")
		td 
			.cart-i-area <span>7,46</span> м<sup>2</sup> 
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			a.cart-i-delete(href="#") Убрать из корзины
	tr.table-row
		td 
			.cart-i-desc
				.cart-i-img
					img(src="assets/images/content/cart-item-img-6.jpg", alt="images")
				.cart-i-content 
					.cart-i-content-title № 1353 Дуб белый вытертый MAT
					.cart-i-content-text Артикул: 26-002-00040
					ul.cart-i-content-params
						li.cart-i-content-params-i Тип соединения: Замковое соединение
						li.cart-i-content-params-i Наличие фаски: Без фаски
						li.cart-i-content-params-i Поверхность: Матовая
						li.cart-i-content-params-i Размеры: 1295х192х12,1
						li.cart-i-content-params-i Оттенок: Бордовый
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			.cart-table-body-col-quantity
				input.cart-table-body-col-quantity-input(type="text" value="0")
		td 
			.cart-i-area <span>4,46</span> м<sup>2</sup> 
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			a.cart-i-delete(href="#") Убрать из корзины
	tr.table-row
		td 
			.cart-i-desc
				.cart-i-img
					img(src="assets/images/content/cart-item-img-7.jpg", alt="images")
				.cart-i-content 
					.cart-i-content-title № 1353 Дуб белый вытертый MAT
					.cart-i-content-text Артикул: 26-002-00040
					ul.cart-i-content-params
						li.cart-i-content-params-i Тип соединения: Замковое соединение
						li.cart-i-content-params-i Наличие фаски: Без фаски
						li.cart-i-content-params-i Поверхность: Матовая
						li.cart-i-content-params-i Размеры: 1295х192х12,1
						li.cart-i-content-params-i Оттенок: Бордовый
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			.cart-table-body-col-quantity
				input.cart-table-body-col-quantity-input(type="text" value="0")
		td
			.cart-i-area <span>7,46</span> м<sup>2</sup> 
		td 
			.cart-i-price <span>3 705</span> руб.
		td 
			a.cart-i-delete(href="#") Убрать из корзины
.cart-row
	.cart-total
		.cart-total-i Суммарный объем: <span>0,1274</span> м<sup>3</sup>
		.cart-total-i Суммарный вес: <span>45,3 кг.</span>
	.cart-total-price Cтоимость выбранных товаров:  <span>37 335</span> <span class="cart-total-price-rub">руб.</span>
.cart-row.cart-row-buttons
	a.cart-button(href="#") Продолжить покупки
	a.cart-button.cart-button-1(href="#") Оформить заказ
	.cart-button-note Бесплатная доставка от <br/>5 000 рублей!


