.catalog-filter
	.catalog-filter-block.catalog-filter-block-3
		form(action="#" method="post")
			ul.catalog-filter-ul
				li.catalog-filter-i.catalog-filter-i-price
					span.catalog-filter-a
						span.catalog-filter-a-text Цена
					.catalog-filter-ul-sub.catalog-filter-price
						.catalog-filter-price-range
							.catalog-filter-price-range-item
								span.catalog-filter-price-range-item-title От
								input.catalog-filter-price-range-item-input#mincost(type="text" value="0")
							.catalog-filter-price-range-item
								span.catalog-filter-price-range-item-title До
								input.catalog-filter-price-range-item-input#maxcost(type="text" value="1000")
						.catalog-filter-price-slider
				li.catalog-filter-i.catalog-filter-i-brands
					span.catalog-filter-a 
						span.catalog-filter-a-text Бренды
					.catalog-filter-ul-sub
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-1")
									label(for="brand-1")
										span.catalog-filter-checkboxlist-text Беон
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-2")
									label(for="brand-2")
										span.catalog-filter-checkboxlist-text Линвуд
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-3")
									label(for="brand-3")
										span.catalog-filter-checkboxlist-text Столлайн
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-4")
									label(for="brand-4")
										span.catalog-filter-checkboxlist-text ДИК-Мебель
				li.catalog-filter-i.catalog-filter-i-color
					span.catalog-filter-a 
						span.catalog-filter-a-text Цвет фасада
					.catalog-filter-ul-sub
						fieldset
							ul.catalog-filter-checkboxlist.catalog-filter-checkboxlist-color
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-1
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-2
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-3
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-4
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-5
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-6
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-7
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-8
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-9
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-10
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-11
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-12
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-13
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-14
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-15
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-16
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-17
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-18
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-19
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-20
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-21
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#")
				li.catalog-filter-i.catalog-filter-i-material
					span.catalog-filter-a 
						span.catalog-filter-a-text Материал фасада
					.catalog-filter-ul-sub.catalog-filter-ul-sub-showmore.catalog-filter-ul-sub-material
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									label(for='material-1')
										span.catalog-filter-checkboxlist-text Дерево
									.catalog-filter-checkboxlist-checkbox
										input(id='material-1' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-2')
										span.catalog-filter-checkboxlist-text Композит
									.catalog-filter-checkboxlist-checkbox
										input(id='material-2' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-3')
										span.catalog-filter-checkboxlist-text ЛДСП
									.catalog-filter-checkboxlist-checkbox
										input(id='material-3' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-4')
										span.catalog-filter-checkboxlist-text ДСП
									.catalog-filter-checkboxlist-checkbox
										input(id='material-4' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-5')
										span.catalog-filter-checkboxlist-text МДФ
									.catalog-filter-checkboxlist-checkbox
										input(id='material-5' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-6')
										span.catalog-filter-checkboxlist-text Металл
									.catalog-filter-checkboxlist-checkbox
										input(id='material-6' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-7')
										span.catalog-filter-checkboxlist-text Полимер
									.catalog-filter-checkboxlist-checkbox
										input(id='material-7' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-8')
										span.catalog-filter-checkboxlist-text Камень
									.catalog-filter-checkboxlist-checkbox
										input(id='material-8' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-9')
										span.catalog-filter-checkboxlist-text Стекло
									.catalog-filter-checkboxlist-checkbox
										input(id='material-9' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-10')
										span.catalog-filter-checkboxlist-text МДФ
									.catalog-filter-checkboxlist-checkbox
										input(id='material-10' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-11')
										span.catalog-filter-checkboxlist-text Металл
									.catalog-filter-checkboxlist-checkbox
										input(id='material-11' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-12')
										span.catalog-filter-checkboxlist-text Полимер
									.catalog-filter-checkboxlist-checkbox
										input(id='material-12' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-13')
										span.catalog-filter-checkboxlist-text Камень
									.catalog-filter-checkboxlist-checkbox
										input(id='material-13' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='material-14')
										span.catalog-filter-checkboxlist-text Стекло
									.catalog-filter-checkboxlist-checkbox
										input(id='material-14' type="checkbox" name="#" value="#")
				li.catalog-filter-i.catalog-filter-i-country
					span.catalog-filter-a 
						span.catalog-filter-a-text Страна производитель
					.catalog-filter-ul-sub.catalog-filter-ul-sub-showmore.catalog-filter-ul-sub-country
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									label(for='country-1')
										span.catalog-filter-checkboxlist-text Индонезия
									.catalog-filter-checkboxlist-checkbox
										input(id='country-1' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='country-2')
										span.catalog-filter-checkboxlist-text Испания
									.catalog-filter-checkboxlist-checkbox
										input(id='country-2' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='country-3')
										span.catalog-filter-checkboxlist-text Китай
									.catalog-filter-checkboxlist-checkbox
										input(id='country-3' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='country-4')
										span.catalog-filter-checkboxlist-text Россия
									.catalog-filter-checkboxlist-checkbox
										input(id='country-4' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='country-5')
										span.catalog-filter-checkboxlist-text Малайзия
									.catalog-filter-checkboxlist-checkbox
										input(id='country-5' type="checkbox" name="#" value="#")
					//- a.catalog-filter-showmore(href="#") Показать больше
				li.catalog-filter-i.catalog-filter-i-form
					span.catalog-filter-a 
						span.catalog-filter-a-text Форма
					.catalog-filter-ul-sub
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									label(for='form-1')
										span.catalog-filter-checkboxlist-text Квадратная
									.catalog-filter-checkboxlist-checkbox
										input(id='form-1' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='form-2')
										span.catalog-filter-checkboxlist-text Круглая
									.catalog-filter-checkboxlist-checkbox
										input(id='form-2' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='form-3')
										span.catalog-filter-checkboxlist-text Овальная
									.catalog-filter-checkboxlist-checkbox
										input(id='form-3' type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i
									label(for='form-4')
										span.catalog-filter-checkboxlist-text Прямоугольная
									.catalog-filter-checkboxlist-checkbox
										input(id='form-4' type="checkbox" name="#" value="#")
			.catalog-filter-button
				input.catalog-filter-button-input(type="submit" value="Применить") 
			.catalog-filter-clear
				a.catalog-filter-clear-a(href="#") Очистить фильтр 
		.catalog-filter-result
			.catalog-filter-result-title Найдено предложений
			.catalog-filter-result-link 10
				a(href="#") Показать
		
