.catalog-filter
	.catalog-filter-block.catalog-filter-block-3
		form(action="#" method="post")
			ul.catalog-filter-ul
				li.catalog-filter-i.catalog-filter-i-price
					span.catalog-filter-a
						span.catalog-filter-a-text Цена
					.catalog-filter-ul-sub.catalog-filter-price
						.catalog-filter-price-range
							.catalog-filter-price-range-item
								span.catalog-filter-price-range-item-title От
								input.catalog-filter-price-range-item-input#mincost(type="text" value="0")
							.catalog-filter-price-range-item
								span.catalog-filter-price-range-item-title До
								input.catalog-filter-price-range-item-input#maxcost(type="text" value="1000")
						.catalog-filter-price-slider
				li.catalog-filter-i.catalog-filter-i-brands
					span.catalog-filter-a 
						span.catalog-filter-a-text Бренды
					.catalog-filter-ul-sub
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-1")
									label(for="brand-1")
										span.catalog-filter-checkboxlist-text Беон
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-2")
									label(for="brand-2")
										span.catalog-filter-checkboxlist-text Линвуд
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-3")
									label(for="brand-3")
										span.catalog-filter-checkboxlist-text Столлайн
								li.catalog-filter-checkboxlist-i
									.catalog-filter-checkboxlist-checkbox
										input(type="checkbox" name="#" value="#" id="brand-4")
									label(for="brand-4")
										span.catalog-filter-checkboxlist-text ДИК-Мебель
				li.catalog-filter-i.catalog-filter-i-color
					span.catalog-filter-a 
						span.catalog-filter-a-text Цвет фасада
					.catalog-filter-ul-sub
						fieldset
							ul.catalog-filter-checkboxlist.catalog-filter-checkboxlist-color
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-1
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-2
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-3
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-4
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-5
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-6
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-7
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-8
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-9
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-10
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-11
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-12
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-13
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-14
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-15
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-16
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-17
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-18
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-19
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-20
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
								li.catalog-filter-checkboxlist-i.catalog-filter-checkboxlist-color-21
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
				li.catalog-filter-i.catalog-filter-i-material
					span.catalog-filter-a 
						span.catalog-filter-a-text Материал фасада
					.catalog-filter-ul-sub.catalog-filter-ul-sub-showmore.catalog-filter-ul-sub-material
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Дерево
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Композит
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text ЛДСП
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text ДСП
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text МДФ
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Металл
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Полимер
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Камень
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Стекло
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text МДФ
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Металл
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Полимер
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Камень
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Стекло
				li.catalog-filter-i.catalog-filter-i-country
					span.catalog-filter-a 
						span.catalog-filter-a-text Страна производитель
					.catalog-filter-ul-sub.catalog-filter-ul-sub-showmore.catalog-filter-ul-sub-country
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Индонезия
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Испания
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Китай
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Россия
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Малайзия

					//- a.catalog-filter-showmore(href="#") Показать больше
				li.catalog-filter-i.catalog-filter-i-form
					span.catalog-filter-a 
						span.catalog-filter-a-text Форма
					.catalog-filter-ul-sub
						fieldset
							ul.catalog-filter-checkboxlist
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Квадратная
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Круглая
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Овальная
								li.catalog-filter-checkboxlist-i
									label
										.catalog-filter-checkboxlist-checkbox
											input(type="checkbox" name="#" value="#")
										span.catalog-filter-checkboxlist-text Прямоугольная
			.catalog-filter-button
				input.catalog-filter-button-input(type="submit" value="Применить") 
			.catalog-filter-clear
				a.catalog-filter-clear-a(href="#") Очистить фильтр 
		.catalog-filter-result
			.catalog-filter-result-title Найдено предложений
			.catalog-filter-result-link 10
				a(href="#") Показать
		
