.catalog
	.catalog-in
		h2.catalog-title Напольные покрытия
		.catalog-filter-wrap
			ul.catalog-top-filter
				li.catalog-top-filter-i.catalog-filter-i-active
					a.catalog-top-filter-a(href="#") Ламинат
				li.catalog-top-filter-i
					a.catalog-top-filter-a(href="#") Паркетная доска
				li.catalog-top-filter-i
					a.catalog-top-filter-a(href="#") Массивная доска
				li.catalog-top-filter-i
					a.catalog-top-filter-a(href="#") Инженерная доска
				li.catalog-top-filter-i
					a.catalog-top-filter-a(href="#") Акции
		ul.catalog-list
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-1.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак 
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 11 719 <span>руб.</span>
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-label.catalog-list-i-label-1 Популярное
				.catalog-list-i-instock В Наличии
				.catalog-list-i-icons 
					.catalog-list-i-certif <span class="catalog-list-i-certif-icon">Продукт сертифицирован</span>
					.catalog-list-i-guarantee <span class="catalog-list-i-guarantee-icon">Гарантия 25 лет</span>
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-2.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/>Дуб, 1-полосный, Натур, Лак<br/>Производетель: Польша
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 14 220 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-3.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Дуб, 1-полосный, Натур, Лак 
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 11 719 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-4.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Ламинат Quick-Step 056 Доска ясеня американ
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 14 220 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-label.catalog-list-i-label-4 Скидка - 30 %
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-5.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 14 220 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-6.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Ламинат Quick-Step UF- 1305 Дуб темно-серый
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 11 719 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-label.catalog-list-i-label-5 Скидка - 50 %
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-7.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 14 220 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-label.catalog-list-i-label-3 Скидка - 50 %
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-8.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 11 719 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-9.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 11 719 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-instock В Наличии
				.catalog-list-i-icons 
					.catalog-list-i-certif <span class="catalog-list-i-certif-icon">Продукт сертифицирован</span>
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-10.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 14 220 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-label.catalog-list-i-label-3 Хит продаж
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-11.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 11 719 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-label.catalog-list-i-label-2 Скидка - 30 %
				.catalog-list-i-instock В Наличии
			li.catalog-list-i
				.catalog-list-i-img
					a(href="#")
						img(src="assets/images/content/product-img-12.jpg" alt="image") 
				.catalog-list-i-title 
					a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
				.catalog-list-i-params 
					| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак
				.catalog-list-i-meta
					ul.catalog-list-i-meta-rating
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
						li.catalog-list-i-meta-rating-i
					.catalog-list-i-meta-reviews
						a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
				a.catalog-list-i-price(href="#")
					.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
					.catalog-list-i-price-new 14 220 руб.
					.catalog-list-i-price-cart
						span
				ul.catalog-list-i-controls
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В закладки
					li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
						span.catalog-list-i-controls-icon
						a.catalog-list-i-controls-a В сравнения
				.catalog-list-i-instock В Наличии
				.catalog-list-i-icons 
					.catalog-list-i-guarantee <span class="catalog-list-i-guarantee-icon">Гарантия 25 лет</span>
					.catalog-list-i-certif <span class="catalog-list-i-certif-icon">Гарантия 25 лет</span>
		.catalog-showmore
			a.catalog-showmore-a(href="#") <span class="catalog-showmore-icon"></span> Загрузить еще
		
	

