.catalog
	.catalog-article
		.catalog-article-img
			img(src="assets/images/content/catalog-article-img.jpg", alt="image")
		p.catalog-article-text 
			| Вы находитесь в раздумьях о том, какое напольное покрытие выбрать для самого уютного уголка вашего дома – для кухни? Вы не хотите класть плитку, потому что она холодная и под нее нужно делать теплый пол? А еще потому, что об нее бьется вся посуда. Вы не хотите укладывать линолеум, потому что он выцветает 
			| и меняет свой цвет в процессе эксплуатации, иногда впитывая жир и пятна от продуктов.
		p.catalog-article-text Вы не хотите стелить паркетную доску, потому что она легко продавливается и боится воды. Вы стали рассматривать ламинат для кухни, так как слышали, что есть водостойкий ламинат, который не боится воды, не выгорает на солнце, не холодный как плитка и смотрится, как натуральное дерево. Да, и это правда.
		
		.catalog-article-more
			ul.catalog-article-list
				li.catalog-article-i
					a.catalog-article-i-a(href="#")
						.catalog-article-i-img
							img(src="assets/images/content/catalog-article-thumb-1.jpg", alt="thumb")
						.catalog-article-i-text Современный ламинат для гостиной
				li.catalog-article-i
					a.catalog-article-i-a(href="#")
						.catalog-article-i-img
							img(src="assets/images/content/catalog-article-thumb-2.jpg", alt="thumb")
						.catalog-article-i-text Ламинат для кухни
				li.catalog-article-i
					a.catalog-article-i-a(href="#")
						.catalog-article-i-img
							img(src="assets/images/content/catalog-article-thumb-3.jpg", alt="thumb")
						.catalog-article-i-text Ламинат для ванной комнаты
				li.catalog-article-i
					a.catalog-article-i-a(href="#")
						.catalog-article-i-img
							img(src="assets/images/content/catalog-article-thumb-4.jpg", alt="thumb")
						.catalog-article-i-text Ламинат для спальни
				li.catalog-article-i
					a.catalog-article-i-a(href="#")
						.catalog-article-i-img
							img(src="assets/images/content/catalog-article-thumb-5.jpg", alt="thumb")
						.catalog-article-i-text Ламинат для детской комнаты

	.products-catalog-top-filter     
		.products-catalog-top-filter-item.products-catalog-top-filter-item-sortby
			span.products-catalog-top-filter-item-title Сортировать по:
			a.products-catalog-top-filter-item-a.products-catalog-top-filter-item-a-active(href="#") 
				span Популярность	 
			a.products-catalog-top-filter-item-a(href="#")
				span Цена
			a.products-catalog-top-filter-item-a(href="#")
				span Наличие
		.products-catalog-top-filter-item
			span.products-catalog-top-filter-item-title Выводить по:
			.products-catalog-top-filter-item-selectlist
				select(name="#")
					//- .products-catalog-top-filter-item-selectitem
					option(value="#") 14
					//- .products-catalog-top-filter-item-selectitem
					option(value="#" selected) 24
					//- .products-catalog-top-filter-item-selectitem
					option(value="#") 34
		.products-catalog-top-filter-item.products-catalog-top-filter-item-view
			span.products-catalog-top-filter-item-title Вид:
			a.products-catalog-top-filter-item-view-a.products-catalog-top-filter-item-view-list(href="#") Список
			a.products-catalog-top-filter-item-view-a.products-catalog-top-filter-item-view-grid(href="#") Сетка
	ul.catalog-list
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-1.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 <span>руб.</span>
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-1 Популярное
			.catalog-list-i-instock В Наличии
			.catalog-list-i-icons 
				.catalog-list-i-certif <span class="catalog-list-i-certif-icon">Продукт сертифицирован</span>
				.catalog-list-i-guarantee <span class="catalog-list-i-guarantee-icon">Гарантия 25 лет</span>
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-2.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 <br/>Дуб, 1-полосный, Натур, Лак<br/>Производетель: Польша
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-3.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-4.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Ламинат Quick-Step 056 Доска ясеня американ
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-4 Скидка - 30 %
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-5.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-6.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Ламинат Quick-Step UF- 1305 Дуб темно-серый
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-5 Скидка - 50 %
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-7.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-3 Скидка - 50 %
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-8.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-9.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
			.catalog-list-i-icons 
				.catalog-list-i-certif <span class="catalog-list-i-certif-icon">Продукт сертифицирован</span>
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-10.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-3 Хит продаж
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-11.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-2 Скидка - 30 %
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-12.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
			.catalog-list-i-icons 
				.catalog-list-i-guarantee <span class="catalog-list-i-guarantee-icon">Гарантия 25 лет</span>
				.catalog-list-i-certif <span class="catalog-list-i-certif-icon">Гарантия 25 лет</span>
	
	include ../blocks/pagination
      
	.catalog-text
		p Мечтаете о прочном, экологичном и красивом напольном покрытии? Сегодня у вас есть уникальная возможность купить ламинат в интернет-магазине Parket.Vtapkah не выходя из дома. Каталог представлен многообразием моделей различных цветов и фактур. За счет своей структуры каждая из них обладает хорошими эксплуатационными характеристиками, устойчива к истиранию, воздействию влаги и ультрафиолетовых лучей. Это настоящая находка для тех, кто хочет получить качественные полы без особого ущерба для бюджета. Цены на ламинат в каталоге приятно удивят. Возможна доставка по Москве и области.
	
	include ../blocks/content-banner
