.contacts-side
	.contacts-side-form
		h2.contacts-side-form-title У вас появились вопросы?
		p.contacts-side-form-text
			| Мы всегда с удовольствием ответим на все ваши вопросы и поможем принять лучшее решение. Свяжитесь с нами!
		.contacts-side-form-form                     
			form(action="#" method="post")
				.contacts-side-form-form-input
					input(type="text" value="Имя")
				.contacts-side-form-form-input
					input(type="text" value="E-mail")
				.contacts-side-form-form-textarea
					textarea(name="#" ) Текст вашего сообщения
				.contacts-side-form-form-submit
					input(type="submit" value="Отправить")
		