.contacts
	.contacts-row
		p.contacts-text <span>Наш адрес: </span>Московская область, г. Щелково, ул. Хотовская, д. 34, стр. 2, эт. 2 
		p.contacts-text <span>Контактный телефон: </span>+7 (495) 276-13-03 (многоканальный), +7 (495) 276-13-03 (многоканальный)
		p.contacts-text <span>Часы работы: </span>Понедельник - пятница с 9.00 до 21.00, Суббота и воскресенье с 9.00 до 21.00
	h2.contacts-titleh2 Фото шоурума
	ul.contacts-gallery
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-1.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-2.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-3.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-4.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-5.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-6.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-7.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-8.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-9.jpg", alt="image")
		li.contacts-gallery-i
			a.contacts-gallery-a(href="#")
				.contacts-gallery-zoom
					.contacts-gallery-zoom-icon
				.contacts-gallery-img
					img(src="assets/images/content/contacts-img-10.jpg", alt="image")

	.contacts-row
		h2.contacts-titleh2 У Вас есть вопрос по поводу заказа?
		p.contacts-text Свяжитесь с нами по телефону +7 (495) 928-40-30 с 09:00 до 18:00 по московскому времени с понедельника по субботу или напишите на почту <a href="mailto:shop@kihny-mix.ru">shop@kihny-mix.ru</a>
	.contacts-row
		h2.contacts-titleh2 Вы — поставщик хотите размещать свои товары в магазине?
		p.contacts-text Напишите на почту <a href="mailto:partner@kihny-mix.ru">partner@kihny-mix.ru</a>
	.contacts-row
		h2.contacts-titleh2 У вас есть серьезные/нерешаемые вопросы по работе компании, возникла нештатная ситуация, и ничего из вышеперечисленного не подходит?
		p.contacts-text Пишите нашему Генеральному директору на <a href="mailto:support@kihny-mix.ru">support@kihny-mix.ru</a>










