.content-banner
	h3.content-banner-title Мастер-классы в Ламинат Эксперте!
	p.content-banner-text
		| Мастер-классы в современном мире становятся все более популярными. <br/>
		| На мастер-классах в ОБИ Вы можете узнать многое о строительстве, ремонте и даже научиться,
