.description-bottom
	.description-bottom-text Каталог представлен яркими и интересными моделями известных мировых производителей. Каждое изделие проходит строгий контроль качества, отличается красотой и изысканностью исполнения, обладает безукоризненными функциональными и эксплуатационными характеристиками. На выбор – многообразие фактур и цветовых решений.
	.description-bottom-text Цены на напольные покрытия нашего интернет-магазина Parket.Vtapkah.ru – конкурентные. Работаем напрямую с производителями, стоимость на представленные модели каталога устанавливается с учетом их рекомендаций.