.subscribe
	.subscribe-in
		h1.subscribe-title Регистрируйся и получай свежую информацию об акциях, спецпредложениях и скидках!
		.subscribe-form
			form(method="post", action="#")
				input.subscribe-input(type="text" value="" placeholder="user@example.ru")
				input.subscribe-submit(type="submit" value="Отправить")
.footer
	.footer-in
		ul.footer-logos
			li.footer-logos-i.footer-logos-i-1
				span.footer-logos-i-icon mastercard
			li.footer-logos-i.footer-logos-i-2
				span.footer-logos-i-icon yandex
			li.footer-logos-i.footer-logos-i-3
				span.footer-logos-i-icon paypal
			li.footer-logos-i.footer-logos-i-4
				span.footer-logos-i-icon american express
			li.footer-logos-i.footer-logos-i-5
				span.footer-logos-i-icon visa
			li.footer-logos-i.footer-logos-i-6
				span.footer-logos-i-icon qiwi
			li.footer-logos-i.footer-logos-i-7
				span.footer-logos-i-icon webmoney
		.footer-body
			.footer-contacts
				.footer-contacts-title Остались вопросы? Звоните нам:
				.footer-contacts-phone 8 800 000-0-000
				.footer-contacts-time <span class="footer-contacts-time-icon"></span> Ежедневно с 10:00 до 22:00
				.footer-contacts-email <span class="footer-contacts-email-icon"></span> laminat-expert@mail.ru
			.footer-menu
				.footer-menu-col
					h3.footer-menu-title Информация 
					ul.footer-menu-ul
						li.footer-menu-i
							a.footer-menu-a(href="#") О компании 
						li.footer-menu-i
							a.footer-menu-a(href="#") Доставка
						li.footer-menu-i
							a.footer-menu-a(href="#") Сотрудничество
						li.footer-menu-i
							a.footer-menu-a(href="#") Контакты
				.footer-menu-col.footer-menu-col-middle
					h3.footer-menu-title Поддержка 
					ul.footer-menu-ul
						li.footer-menu-i
							a.footer-menu-a(href="#") Возврат товара 
						li.footer-menu-i
							a.footer-menu-a(href="#") Карта сайта
						li.footer-menu-i
							a.footer-menu-a(href="#") Личный кабинет
						li.footer-menu-i
							a.footer-menu-a(href="#") История заказов
				.footer-menu-col
					h3.footer-menu-title Дополнительно 
					ul.footer-menu-ul
						li.footer-menu-i
							a.footer-menu-a(href="#") Производители 
						li.footer-menu-i
							a.footer-menu-a(href="#") Акции
						li.footer-menu-i
							a.footer-menu-a(href="#") Закладки
			.footer-yandex
		.footer-bottom
			.footer-copyright © 2015 Интернет-магазин напольных покрытий - Ламинат эксперт. Все права защищены.
			.footer-address 127055, г. Москва, ул. Новослободская д. 62, корп. 19.
			.footer-policy 
				a.footer-policy-a(href="#") Политика конфиденциальности

.light-menu
	.light-menu-in
		.order-now
			.order-now-text <span class="order-now-amount">2</span> Товаров в корзине на сумму: <span class="order-now-price">9 900 руб.</span>
			a.order-now-button(href="#") Оформить заказ	

.banner-fixed
	p.banner-fixed-text Закажите профессиональную укладку ламината сейчас!
	a.banner-fixed-button(href="#") Заказать сейчас
a.to-top(href="#toTop")
	span.to-top-icon Наверх
.notification
	p.notification-text Товар добавлен в корзину
.compare-panel
	.compare-panel-list
		.compare-panel-i 
			.compare-panel-a
				.compare-panel-i-img
					img(src="assets/images/content/cart-product-thumb-1.jpg", alt="image")
				.compare-panel-i-text
					span Ламинат Quick-Step Дуб белый интенсивный... 
				a.compare-panel-i-del(href="#")
		.compare-panel-i 
			.compare-panel-a
				.compare-panel-i-img
					img(src="assets/images/content/cart-product-thumb-2.jpg", alt="image")
				.compare-panel-i-text
					span Паркет Tarkettp темный итальянский орех...  
				a.compare-panel-i-del(href="#")
		.compare-panel-i 
			.compare-panel-a
				.compare-panel-i-img
					img(src="assets/images/content/cart-product-thumb-3.jpg", alt="image")
				.compare-panel-i-text
					span Ламинат Quick-Step Дуб белый интенсивный... 
				a.compare-panel-i-del(href="#")
		.compare-panel-i 
			.compare-panel-a
				.compare-panel-i-img
					img(src="assets/images/content/cart-product-thumb-4.jpg", alt="image")
				.compare-panel-i-text
					span Паркет Tarkettp темный итальянский орех... 
				a.compare-panel-i-del(href="#")
		.compare-panel-i
			.compare-panel-a
				.compare-panel-i-img
					img(src="assets/images/content/cart-product-thumb-5.jpg", alt="image")
				.compare-panel-i-text
					span Ламинат Quick-Step Дуб белый интенсивный... 
				a.compare-panel-i-del(href="#")
		.compare-panel-i
			.compare-panel-a
				.compare-panel-i-img
					img(src="assets/images/content/cart-product-thumb-6.jpg", alt="image")
				.compare-panel-i-text
					span Паркет Tarkettp темный итальянский орех... 
				a.compare-panel-i-del(href="#")
	a.compare-panel-button(href="#") Сравнить товары

.callback-popup.remodal(data-remodal-id="callback-popup")
	h3.callback-popup-title Обратный звонок
	p.callback-popup-text Укажите свой контактный телефон, и мы перезвоним вам в ближайшие несколько минут:
	form(method="post", action="#")
		.callback-popup-form
			input.callback-popup-input#phone-input(type="text" value="" placeholder="+7 ( ___ ) ___-__-__")
			input.callback-submit(type="submit" value="Я жду звонка") 

.login-popup.remodal(data-remodal-id="login-popup")
	h3.login-popup-title Личный кабинет
	form(method="post", action="#")
		.login-popup-form
			input.login-popup-input(type="text" value="" placeholder="Электронная почта")
			input.login-popup-input(type="text" value="" placeholder="Пароль")
			input.login-popup-submit(type="submit" value="Войти")
	p.login-popup-note Войти при помощи социальных сетей
	ul.login-popup-ul
		li.login-popup-i.login-popup-i-1
			a.login-popup-a(href="#") fb
		li.login-popup-i.login-popup-i-2
			a.login-popup-a(href="#") vk
		li.login-popup-i.login-popup-i-3
			a.login-popup-a(href="#") instagram
		li.login-popup-i.login-popup-i-4
			a.login-popup-a(href="#") ok
	.login-popup-bottom
		a.login-popup-bottom-reg(href="#") Зарегистрироваться
		a.login-popup-bottom-forg(href="#") Восстановить пароль


.cart-popup.remodal(data-remodal-id="cart-popup")
	form(method="post", action="#")
		.cart-popup-row.cart-popup-price
			.cart-popup-price-title  Цена покрытия за 1 м<sup>2</sup>
			.cart-popup-price-val <span>5 582</span> руб. 
		.cart-popup-row.cart-popup-area
			.cart-popup-area-title Площадь помещения:
			.cart-popup-area-val
				input(type="text" value="" placeholder="33")
				| м<sup>2</sup>
		.cart-popup-row.cart-popup-amount
			.cart-popup-amount-title Количество упаковок: <span>В одной упаковке 3,41 м ²</span>
			.cart-popup-amount-val
				.cart-table-body-col-quantity
					input.cart-table-body-col-quantity-input(type="text" value="0")
		.cart-popup-row.cart-popup-total
			.cart-popup-total-val Ваша цена: <span>17 582</span> руб.
			input.cart-popup-total-submit(type="submit" value="Добавить в корзину")
			p.cart-popup-total-note Минимальный заказ - 1 упаковка


.assistant-popup.remodal(data-remodal-id="assistant-popup")
	form(method="post", action="#")
		h3.assistant-popup-title Подбор напольного покрытия

		.assistant-popup-price-row
			.assistant-popup-price
				.assistant-popup-ul-sub.assistant-popup-price
					.assistant-popup-price-range
						.assistant-popup-price-range-item
							span.assistant-popup-price-range-item-title Цена от:
							input.assistant-popup-price-range-item-input#mincost2(type="text" value="0")
						.assistant-popup-price-range-item
							span.assistant-popup-price-range-item-title до
							input.assistant-popup-price-range-item-input#maxcost2(type="text" value="1000")
					.assistant-popup-price-slider

		.assistant-popup-type
			span.assistant-popup-type-text Тип:
			select
				option(disabled selected) Все типы
				option Тип
				option Тип
				option Тип
				option Тип
				option Тип
				option Тип

		.assistant-popup-color
			span.assistant-popup-color-text Цвет:
			.assistant-popup-color-ul-sub
				fieldset
					ul.assistant-popup-color-checkboxlist.assistant-popup-color-checkboxlist-color
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-1
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-2
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-3
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-4
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-5
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-6
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-7
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-8
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-9
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-10
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-11
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-12
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-13
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-14
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-15
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-16
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-17
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-18
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-19
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-20
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")
						li.assistant-popup-color-checkboxlist-i.assistant-popup-color-checkboxlist-color-21
							.assistant-popup-color-checkboxlist-checkbox
								input(type="checkbox" name="#" value="#")

		.assistant-popup-bottom
			.assistant-popup-bottom-find Найдено товаров: <span>27</span>

			input.assistant-popup-bottom-submit(type="submit" value="Подобрать покрытие")

			.assistant-popup-bottom-help Нужна помощь в подборе? <br/> <a href="#" class="assistant-popup-bottom-a">Закажите обратный звонок</a>


