.topline
	.topline-in
		ul.topline-store
			li.topline-store-i.topline-store-i-active
				a.topline-store-a(href="#") Ламинат эксперт
			li.topline-store-i
				a.topline-store-a(href="#") Свет эксперт	
			li.topline-store-i
				a.topline-store-a(href="#") Обои эксперт
		ul.topline-menu
			li.topline-menu-i
				a.topline-menu-a(href="#") О магазине
			li.topline-menu-i
				a.topline-menu-a(href="#") Доставка
			li.topline-menu-i
				a.topline-menu-a(href="#") О магазине
			li.topline-menu-i
				a.topline-menu-a(href="#") Доставка
			li.topline-menu-i
				a.topline-menu-a(href="#") Оплата
		.topline-controls
			a.topline-controls-a(href="#login-popup") Войти
			span или
			a.topline-controls-a(href="#") Зарегистрироваться
.header
	.header-in
		.header-body
			a.header-logo(href="#") Ламинат эксперт
			.header-phones
				.header-phones-i
					.header-phones-i-phone 8-800-0000-000
					.header-phone-i-text Пн-Пт с 10:00 до 20:00
				.header-phones-i
					.header-phones-i-phone 8-800-0000-000
					a.header-phones-i-link(href="#callback-popup" )<span class="header-phones-i-icon"></span><span class="header-phones-i-link-text">Заказать обратный звонок</span>
			.header-cart
				.header-cart-icon
				a.header-cart-link(href="#cart-popup") Корзина
				.header-cart-text <span class="header-cart-quantity">2</span> товара на 27 400 руб.
		.header-bottom
			a.header-bottom-filter-a(href="#assistant-popup") Подобрать покрытие
			nav.header-bottom-menu
				ul.header-bottom-menu-ul
					li.header-bottom-menu-i
						a.header-bottom-menu-a(href="#") Напольные покрытия
					li.header-bottom-menu-i
						a.header-bottom-menu-a(href="#") Аксессуары
					li.header-bottom-menu-i
						a.header-bottom-menu-a(href="#") Производители
						.header-submenu
							img(src="assets/images/dropdown-logos.jpg", alt="").developers-img
							.header-submenu-button
								a.header-submenu-button-a(href="#") Посмотреть все
					li.header-bottom-menu-i
						a.header-bottom-menu-a(href="#") Паркетные работы
					li.header-bottom-menu-i
						a.header-bottom-menu-a(href="#") О компании
			a.header-bottom-search-a(href="#") Поиск <span class="header-bottom-search-icon"></span>
	.search
		.search-in
			form(method="get", action="#")
				.search-form
					input.search-form-input(type="text" placeholder="Поиск по каталогу товаров ... " value="") 
					input.search-form-submit(type="submit" value="Поиск")
				.search-suggestions
					.search-suggestions-title <span class="search-suggestions-icon"></span> Популярные запросы:
					a.search-suggestions-a(href="#") Покрытие в спортзал
					| ,
					a.search-suggestions-a(href="#") Ламинат на дачу
					| ,
					a.search-suggestions-a(href="#") Ковролин в зал
					| ,
					a.search-suggestions-a(href="#") Паркет елочкой
					| ,
					a.search-suggestions-a(href="#") Ламинат в гостинную
					| ,
					a.search-suggestions-a(href="#") Ламинат в ванную






				


