.top
	.top-in
		include ../blocks/slider-main
		include ../blocks/side-main
.advantages
	.advantages-in
		.advantages-i.advantages-1
			span.advantages-i-icon
			.advantages-i-title Быстрая доставка
			.advantages-i-text По всем городам России
		.advantages-i.advantages-2
			span.advantages-i-icon
			.advantages-i-title Гарантия
			.advantages-i-text Расширенная гарантия 3 года
		.advantages-i.advantages-3
			span.advantages-i-icon
			.advantages-i-title Низкие цены
			.advantages-i-text Гарантия низкой цены
		.advantages-i.advantages-4
			span.advantages-i-icon
			.advantages-i-title Легкий возврат
			.advantages-i-text 14 дней с момента отгрузки
.description
	.description-in
		.description-title Интернет-магазин напольных покрытий
		.description-text Для тех, кто ещё не определился, какой же пол будет украшать его дом или офис, мы предлагаем изучить главные особенности и преимущества всех видов напольного покрытия, которые предлагает вам интернет-магазин «Ламинат Эксперт». Ламинат – это многослойное покрытие, которое может имитировать любой вид пола (паркетный, деревянный, каменный и т.д.). Благодаря влаго - и износостойкости, он стал очень популярным материалом для устройства полов в квартирах и офисах.



