.products-pagination
		.products-pagination-content
			a.products-pagination-content-link.products-pagination-content-link-back.products-pagination-content-link-back-disabled
				| &lsaquo; Назад
			ul.products-pagination-content-ul
				li.products-pagination-content-i.products-pagination-content-i-active
					span.products-pagination-content-a 1 
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 2
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 3
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 4
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 5
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 6
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 7
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 8
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 9
				li.products-pagination-content-i.products-pagination-content-i-dots
					span.products-pagination-content-a ...
				li.products-pagination-content-i
					a.products-pagination-content-a(href="#") 77
			a.products-pagination-content-link.products-pagination-content-link-next 
				| Вперед &rsaquo; 
		.products-pagination-info
			span.products-pagination-info-text Показано с 1 по 12 из 300 
