.product-content
	.product-content-row
		.product-content-left
			.product-content-left-top
				.product-content-barcode Код товара: <span>lm-005405</span>
				.product-content-rating
					span.product-content-rating-title Рейтинг: 
					ul.product-content-rating-list
						li.product-content-rating-list-i.product-content-rating-list-i-active
						li.product-content-rating-list-i.product-content-rating-list-i-active
						li.product-content-rating-list-i.product-content-rating-list-i-active
						li.product-content-rating-list-i.product-content-rating-list-i-active
						li.product-content-rating-list-i
			.product-slider-wrap
				.product-slider
					.product-slider-i
						.product-slider-i-img
							img#img_group(src='assets/images/content/product-slider-img-1.jpg' data-zoom-image="assets/images/content/product-slider-img-big-1.jpg")
							.product-slider-i-img-icon 
								.product-slider-i-img-icon-zoom
							.product-slider-i-label Популярное
				.product-slider-thumb#gal1
					a.product-slider-thumb-i(href='#' data-image='assets/images/content/product-img-1.jpg' data-zoom-image='assets/images/content/product-slider-img-big-1.jpg')
						img.product-slider-thumb-i-img#img_group(src='assets/images/content/product-slider-thumb-1.jpg')
					a.product-slider-thumb-i(href='#' data-image='assets/images/content/product-img-2.jpg' data-zoom-image='assets/images/content/product-slider-img-big-2.jpg')
						img.product-slider-thumb-i-img#img_group(src='assets/images/content/product-slider-thumb-2.jpg')
					a.product-slider-thumb-i(href='#' data-image='assets/images/content/product-img-3.jpg' data-zoom-image='assets/images/content/product-slider-img-big-1.jpg')
						img.product-slider-thumb-i-img#img_group(src='assets/images/content/product-slider-thumb-3.jpg')
					a.product-slider-thumb-i(href='#' data-image='assets/images/content/product-img-4.jpg' data-zoom-image='assets/images/content/product-slider-img-big-2.jpg')
						img.product-slider-thumb-i-img#img_group(src='assets/images/content/product-slider-thumb-4.jpg')
					
			
				
			.product-content-social
				.product-content-social-title Расскажи друзьям:
				.product-content-social-ul
					.product-content-social-i.product-content-social-i-1
						a.product-content-social-a(href="#") fb
					.product-content-social-i.product-content-social-i-2
						a.product-content-social-a(href="#") vk
					.product-content-social-i.product-content-social-i-3
						a.product-content-social-a(href="#") inst
					.product-content-social-i.product-content-social-i-4
						a.product-content-social-a(href="#") ok
					.product-content-social-i.product-content-social-i-5
						a.product-content-social-a(href="#") twr
					.product-content-social-i.product-content-social-i-6
						a.product-content-social-a(href="#") ytb
		.product-content-center
			p.product-content-description Высококачественный ламинат Meister уникальной коллекции LS 300, (страна производитель Германия), имеет выраженный бежевый цвет и неповторимую фактуру. Дуб - популярный природный дизайн ЛС 300 ламината нравится всем любителям марки Мейстер. Внешний вид "V-фаска с 4-х сторон" в продажу идет без подложки.
			.product-content-param
				ul.product-content-param-ul
					li.product-content-param-i
						span.product-content-param-i-title Номер по каталогу
						span.product-content-param-i-val 6268
					li.product-content-param-i
						span.product-content-param-i-title Страна
						span.product-content-param-i-val Германия
					li.product-content-param-i
						span.product-content-param-i-title Фаска
						span.product-content-param-i-val V-фаска с 4-х сторон
					li.product-content-param-i
						span.product-content-param-i-title В упаковке м2
						span.product-content-param-i-val 1,8
					li.product-content-param-i
						span.product-content-param-i-title Порода дерева
						span.product-content-param-i-val дуб
					li.product-content-param-i
						span.product-content-param-i-title Класс износостойкости
						span.product-content-param-i-val 32
					li.product-content-param-i
						span.product-content-param-i-title Дизайн
						span.product-content-param-i-val однополосный
					li.product-content-param-i
						span.product-content-param-i-title Толщина
						span.product-content-param-i-val 30 мм
				a.product-content-param-a(href="#") Подробные характеристики
			.product-content-feedback
				.product-content-feedback-body
					p.product-content-feedback-text Превзошёл ожидания, не думал что за такую малую сумму получу отличное качество и полный набор рабочего функционала.  =)
				.product-content-feedback-bottom
					span.product-content-feedback-author Марфа Васнецова
					a.product-content-feedback-link(href="#") Все отзывы покупателей
		.product-content-right
			.product-content-info
				.product-content-info-top
					.product-content-info-advantages
						.product-content-info-advantages-i-guarantee <span class="catalog-list-i-guarantee-icon">Гарантия 25 лет</span>
						.product-content-info-advantages-i-certif <span class="catalog-list-i-certif-icon">Продукт сертифицирован</span>
					ul.product-content-info-controls
						li.product-content-info-controls-i.product-content-info-controls-i-2
							span.product-content-info-controls-icon
							a.product-content-info-controls-a В сравнения
						li.product-content-info-controls-i.product-content-info-controls-i-1
							span.product-content-info-controls-icon
							a.product-content-info-controls-a В закладки
				.product-content-info-body
					.product-content-info-body-row
						.product-content-info-price
							p.product-content-info-price-old <span>62 590</span> руб.
							p.product-content-info-price-new <span>33 790</span> руб.
							a.product-content-info-price-button(href="#") В корзину
							.product-content-info-storage Есть на складе (1 000 шт.)
							.product-content-info-banner
								a.product-content-info-banner-a(href="#")
									img(src="assets/images/mini-banner.png", alt="banner")
							
					.product-content-info-delivery
						.product-content-info-delivery-top 
							span.product-content-info-delivery-title Доставка доступна в
							.product-content-info-delivery-changecity
								a.product-content-info-delivery-changecity-a(href="#") <span>г. Нижний Новгород</span>
						ul.product-content-info-delivery-ul
							li.product-content-info-delivery-i <a href="#">Курьерская</a> - от 300 руб. , ближайшая завтра
							li.product-content-info-delivery-i <a href="#">Самовывоз</a> - забрать можно сегодня, 8 пунктов
								
					.product-content-info-special
						.product-content-info-special-title Специальные цены:
						.product-content-info-special-body
							ul.product-content-info-special-ul
								li.product-content-info-special-i
									span.product-content-info-special-i-title от 10 кв.м
									span.product-content-info-special-i-val 1 860 руб.
								li.product-content-info-special-i
									span.product-content-info-special-i-title от 30 кв.м
									span.product-content-info-special-i-val 1 841 руб.
								li.product-content-info-special-i
									span.product-content-info-special-i-title от 50 кв.м
									span.product-content-info-special-i-val 1 803 руб.
				.product-content-info-bottom-banner
					.product-content-info-bottom-banner-title Товар доступен в кредит 
					.product-content-info-bottom-banner-text Ежемесячный платеж от 1 885 руб. 
	.advantages
		.advantages-in
			.advantages-i.advantages-1
				span.advantages-i-icon
				.advantages-i-title Быстрая доставка
				.advantages-i-text По всем городам России
			.advantages-i.advantages-2
				span.advantages-i-icon
				.advantages-i-title Гарантия
				.advantages-i-text Расширенная гарантия 3 года
			.advantages-i.advantages-3
				span.advantages-i-icon
				.advantages-i-title Низкие цены
				.advantages-i-text Гарантия низкой цены
			.advantages-i.advantages-4
				span.advantages-i-icon
				.advantages-i-title Легкий возврат
				.advantages-i-text 14 дней с момента отгрузки	

	.u-may-like
		h2.u-may-like-title Вам может понадобиться
		ul.u-may-like-list
			li.u-may-like-list-i.u-may-like-list-i-active
				a.u-may-like-list-a(href="#") <span>Рекомендуем</span>
			li.u-may-like-list-i
				a.u-may-like-list-a(href="#") <span>Популярное</span>
			li.u-may-like-list-i
				a.u-may-like-list-a(href="#") <span>Новинки</span>
			li.u-may-like-list-i
				a.u-may-like-list-a(href="#") <span>Напольные покрытия</span>
			li.u-may-like-list-i
				a.u-may-like-list-a(href="#") <span>Аксессуары для пола</span> 
		.u-may-like-slider
			.u-may-like-slider-list
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-1.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button.u-may-like-slider-list-button-active(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-2.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-3.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-4.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-3.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-4.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-3.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-4.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
					.u-may-like-slider-list-plus
				.u-may-like-slider-list-i
					.u-may-like-slider-list-img
						img(src="assets/images/content/product-scroll-img-4.jpg", alt="image")
					a.u-may-like-slider-list-title(href="#") Ламинат Meister LD 300 20 Melango Дуб бело‑серый 
					.u-may-like-slider-list-price <span>33 790</span> руб.
					a.u-may-like-slider-list-button(href="#") выбрать
			.u-may-like-slider-right
				.u-may-like-slider-right-content
					.u-may-like-slider-right-title Вы выбрали 1 товар на сумму:
					.u-may-like-slider-right-price <span>19 080</span> руб.
					a.u-may-like-slider-right-button(href="#") Купить
					.u-may-like-slider-right-note Отметьте интересующие аксессуары и купите в один клик 
					a.u-may-like-slider-right-a(href="#") Посмотреть выбранное
	.extra-service
		h3.extra-service-title Дополнительные услуги
		.extra-service-body
			ul.extra-service-list
				li.extra-service-list-i
					.extra-service-list-i-text Большой и очень длинный текст очень крутой и недорогой услуги
					.extra-service-list-i-price <span>390</span> руб.
					a.extra-service-list-i-button(href="#") Купить 
				li.extra-service-list-i
					.extra-service-list-i-text Большой и очень длинный текст услуги
					.extra-service-list-i-price <span>1 390</span> руб.
					a.extra-service-list-i-button(href="#") Купить 
				li.extra-service-list-i
					.extra-service-list-i-text Большой и очень длинный текст очень крутой и недорогой услуги
					.extra-service-list-i-price <span>2 500</span> руб.
					a.extra-service-list-i-button(href="#") Купить 
				li.extra-service-list-i
					.extra-service-list-i-text Большой и очень длинный текст услуги
					.extra-service-list-i-price <span>3 500</span> руб.
					a.extra-service-list-i-button(href="#") Купить 
				li.extra-service-list-i
					.extra-service-list-i-text Большой и очень длинный текст очень крутой и недорогой услуги
					.extra-service-list-i-price <span>4 500</span> руб.
					a.extra-service-list-i-button(href="#") Купить 
				li.extra-service-list-i
					.extra-service-list-i-text Большой и очень длинный текст услуги
					.extra-service-list-i-price <span>6 500</span> руб.
					a.extra-service-list-i-button(href="#") Купить 
			.extra-service-right
				p.extra-service-right-text Услуги предоставляются во всех магазинах Ламинат Экспер . Отдел работает круглосуточно. 

	.product-content-tabs
		ul.product-content-tabs-nav
			li.product-content-tabs-nav-i.product-content-tabs-nav-i-1
				a.product-content-tabs-nav-a(href="#tabs-1") Характеристики
			li.product-content-tabs-nav-i.product-content-tabs-nav-i-2
				a.product-content-tabs-nav-a(href="#tabs-2") <span>Отзывы</span> 27
			li.product-content-tabs-nav-i.product-content-tabs-nav-i-3
				a.product-content-tabs-nav-a(href="#tabs-3") Укладка
		.product-content-tabs-body
			.product-content-tabs-content#tabs-1
				.product-content-tabs-content-title Характеристики товара
				.product-content-tabs-param-wrap
					ul.product-content-tabs-param-ul.product-content-tabs-param-ul-left
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Страна
							span.product-content-tabs-param-i-val Германия
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Производитель
							span.product-content-tabs-param-i-val Meister
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Коллекция
							span.product-content-tabs-param-i-val LS 300
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Фаска
							span.product-content-tabs-param-i-val V-фаска с 4-х сторон
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title В упаковке м<sup>2</sup>
							span.product-content-tabs-param-i-val 1,8
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Порода дерева
							span.product-content-tabs-param-i-val дуб
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Класс износостойкости
							span.product-content-tabs-param-i-val 32
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Дизайн
							span.product-content-tabs-param-i-val однополосный
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Номер по каталогу
							span.product-content-tabs-param-i-val 6268
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Страна
							span.product-content-tabs-param-i-val Германия
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Производитель
							span.product-content-tabs-param-i-val Meister
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Коллекция
							span.product-content-tabs-param-i-val LS 300
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Фаска
							span.product-content-tabs-param-i-val V-фаска с 4-х сторон
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title В упаковке м<sup>2</sup>
							span.product-content-tabs-param-i-val 1,8
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Порода дерева
							span.product-content-tabs-param-i-val дуб
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Класс износостойкости
							span.product-content-tabs-param-i-val 25
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Дизайн
							span.product-content-tabs-param-i-val однополосный
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Номер по каталогу
							span.product-content-tabs-param-i-val 6268
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Страна
							span.product-content-tabs-param-i-val Германия
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Производитель
							span.product-content-tabs-param-i-val Meister
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Коллекция
							span.product-content-tabs-param-i-val LS 300
							
					ul.product-content-tabs-param-ul.product-content-tabs-param-ul-right
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Страна
							span.product-content-tabs-param-i-val Германия
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Производитель
							span.product-content-tabs-param-i-val Meister
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Коллекция
							span.product-content-tabs-param-i-val LS 300
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Фаска
							span.product-content-tabs-param-i-val V-фаска с 4-х сторон
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title В упаковке м<sup>2</sup>
							span.product-content-tabs-param-i-val 1,8
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Порода дерева
							span.product-content-tabs-param-i-val дуб
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Класс износостойкости
							span.product-content-tabs-param-i-val 32
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Дизайн
							span.product-content-tabs-param-i-val однополосный
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Номер по каталогу
							span.product-content-tabs-param-i-val 6268
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Страна
							span.product-content-tabs-param-i-val Германия
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Производитель
							span.product-content-tabs-param-i-val Meister
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Коллекция
							span.product-content-tabs-param-i-val LS 300
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Фаска
							span.product-content-tabs-param-i-val V-фаска с 4-х сторон
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title В упаковке м<sup>2</sup>
							span.product-content-tabs-param-i-val 1,8
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Порода дерева
							span.product-content-tabs-param-i-val дуб
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Класс износостойкости
							span.product-content-tabs-param-i-val 25
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Дизайн
							span.product-content-tabs-param-i-val однополосный
						li.product-content-tabs-param-i
							span.product-content-tabs-param-i-title Номер по каталогу
							span.product-content-tabs-param-i-val 6268

				p.product-content-tabs-content-note  Нашли неточность в описании? Выделите ее и нажмите Shift+Enter или <a href="mailto:email@email.com">напишите нам</a>

			.product-content-tabs-content#tabs-2

			.product-content-tabs-content#tabs-3
		
	ul.catalog-list
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-1.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 <br/> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 <span>руб.</span>
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-1 Популярное
			.catalog-list-i-instock В Наличии
			.catalog-list-i-icons 
				.catalog-list-i-certif <span class="catalog-list-i-certif-icon">Продукт сертифицирован</span>
				.catalog-list-i-guarantee <span class="catalog-list-i-guarantee-icon">Гарантия 25 лет</span>
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-2.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 <br/>Дуб, 1-полосный, Натур, Лак<br/>Производетель: Польша
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-3.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-4.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Ламинат Quick-Step 056 Доска ясеня американ
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 25 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-4 Скидка - 30 %
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-5.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-6.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Ламинат Quick-Step UF- 1305 Дуб темно-серый
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-5 Скидка - 50 %
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-7.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 14 220 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-label.catalog-list-i-label-3 Скидка - 50 %
			.catalog-list-i-instock В Наличии
		li.catalog-list-i
			.catalog-list-i-img
				a(href="#")
					img(src="assets/images/content/product-img-8.jpg" alt="image") 
			.catalog-list-i-title 
				a(href="#") Паркетная доска Quick-Step № 1337 Дуб Мистический SATIN
			.catalog-list-i-params 
				| Размеры: 1820x145x14 </br> Дуб, 1-полосный, Натур, Лак 
			.catalog-list-i-meta
				ul.catalog-list-i-meta-rating
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i.catalog-list-i-meta-rating-i-active
					li.catalog-list-i-meta-rating-i
				.catalog-list-i-meta-reviews
					a.catalog-list-i-meta-reviews-a(href="#") 17 отзывов о товаре
			a.catalog-list-i-price(href="#")
				.catalog-list-i-price-title Цена за 1 м<sup>2</sup>
				.catalog-list-i-price-new 11 719 руб.
				.catalog-list-i-price-cart
					span
			ul.catalog-list-i-controls
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-1
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В закладки
				li.catalog-list-i-controls-i.catalog-list-i-controls-i-2
					span.catalog-list-i-controls-icon
					a.catalog-list-i-controls-a В сравнения
			.catalog-list-i-instock В Наличии
			

	.product-note
		p.product-note-text Описание товара носит информационный характер и может отличаться от описания, представленного в технической документации производителя.
		p.product-note-text Рекомендуем при покупке проверять наличие желаемых функций и характеристик. 
	.product-error-report
		p.product-error-report-text Вы можете сообщить о неточности в описании товара — выделите её и нажмите <span class="product-error-report-icon"></span>
