.tabs
	ul.tabs-nav
		li.tabs-nav-i
			a.tabs-nav-a(href="#tabs-1") Мои заказы
		li.tabs-nav-i
			a.tabs-nav-a(href="#tabs-2") Мои настройки
	.tabs-body
		.tabs-content#tabs-1 
			.contragent
				.contragent-title <span>Контрагент:</span> Константин Константинович Константинопольский
				.contragent-status Розничный клиент (цена 1)
			ul.contragent-status-list
				li.contragent-status-list-i.contragent-status-list-i-active
					a.contragent-status-list-a(href="#") <span>Текущие</span>
				li.contragent-status-list-i
					a.contragent-status-list-a(href="#") <span>Завершенные</span>
				li.contragent-status-list-i
					a.contragent-status-list-a(href="#") <span>Невыкупленные</span>      
			table.contragent-table
				tr.contragent-table-head
					th.contragent-table-col-1 
					th.contragent-table-col-2 Название
					th.contragent-table-col-3 Количество
					th.contragent-table-col-4 Ед.
					th.contragent-table-col-5 Цена
					th.contragent-table-col-6 Сумма
					th.contragent-table-col-7 Статус
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
				tr.contragent-table-row
					td.contragent-table-col-1 1
					td.contragent-table-col-2 № 1353 Дуб белый вытертый MAT
					td.contragent-table-col-3 27
					td.contragent-table-col-4 упак.
					td.contragent-table-col-5 1 200
					td.contragent-table-col-6 32 400
					td.contragent-table-col-7 Отгружено
			p.contragent-note Небольшой блок текста с дополнительной информацией по заказам.
		.tabs-content#tabs-2
			.contragent
				.contragent-title <span>Контрагент:</span> Константин Константинович Константинопольский
				.contragent-status Розничный клиент (цена 1)
			ul.contragent-status-list
				li.contragent-status-list-i.contragent-status-list-i-active
					a.contragent-status-list-a(href="#") <span>Личные данные</span>
				li.contragent-status-list-i
					a.contragent-status-list-a(href="#") <span>Смена пароля</span>
				li.contragent-status-list-i
					a.contragent-status-list-a(href="#") <span>Уведомления</span>      
			.contragent-info
				.contragent-info-row
					.contragent-info-title Ваша фамилия
					.contragent-info-text Константинопольский
					a.contragent-info-control(href="#") <span>Редактировать</span>
				.contragent-info-row
					.contragent-info-title Ваше имя
					.contragent-info-text Константин
					a.contragent-info-control(href="#") <span>Редактировать</span>
				.contragent-info-row
					.contragent-info-title Ваше отчество
					.contragent-info-text Константинович
					a.contragent-info-control(href="#") <span>Редактировать</span>
				.contragent-info-row
					.contragent-info-title Дата рождения
					.contragent-info-text 01.01.1900
					a.contragent-info-control(href="#") <span>Редактировать</span>
				.contragent-info-row
					.contragent-info-title E-mail (логин)
					.contragent-info-text Используйте адрес эл. почты
					a.contragent-info-control(href="#") <span>Редактировать</span>
				.contragent-info-row
					.contragent-info-title Электронная почта
					.contragent-info-text Konstantinopolsky@mail.ru
					a.contragent-info-control(href="#") <span>Редактировать</span>
				.contragent-info-row
					.contragent-info-title Мобильный телефон
					.contragent-info-text +7
					a.contragent-info-control(href="#") <span>Редактировать</span>



	
