.services
	.services-in
		.services-list
			.services-list-i
				h3.services-list-i-title Укладка ламината под ключ
				p.services-list-i-text На протяжении 7 лет мы занимаемся укладкой напольных покрытий. Увы, мы не сможем покрасить стены или подключить сантехнику. Невозможно быть профессионалом в нескольких отраслях, поэтому с момента основания нашей компании мы ... 
				a.services-list-i-button(href="#") Сделать заказ
			.services-list-i
				h3.services-list-i-title Демонтаж ламината
				p.services-list-i-text Не всегда рационально демонтировать старое покрытие. Например, паркет на лагах. А точнее паркетную доску, которую укладывали в старых домах...
			.services-list-i
				h3.services-list-i-title Выравнивание пола фанерой
				p.services-list-i-text Выравнивание  пола фанерой – наиболее простой и легкий способ сделать пол в помещении идеально ровным.
			.services-list-i
				h3.services-list-i-title Укладка ламината под ключ
				p.services-list-i-text На протяжении 7 лет мы занимаемся укладкой напольных покрытий. Увы, мы не сможем покрасить стены или подключить сантехнику. Невозможно быть профессионалом в нескольких отраслях, поэтому с момента основания нашей компании мы ... 
				a.services-list-i-button Сделать заказ
			.services-list-i
				h3.services-list-i-title Демонтаж ламината
				p.services-list-i-text Не всегда рационально демонтировать старое покрытие. Например, паркет на лагах. А точнее паркетную доску, которую укладывали в старых домах...
			.services-list-i
				h3.services-list-i-title Выравнивание пола фанерой
				p.services-list-i-text Выравнивание  пола фанерой – наиболее простой и легкий способ сделать пол в помещении идеально ровным.
			.services-list-i
				h3.services-list-i-title Демонтаж ламината
				p.services-list-i-text Не всегда рационально демонтировать старое покрытие. Например, паркет на лагах. А точнее паркетную доску, которую укладывали в старых домах...
			.services-list-i
				h3.services-list-i-title Выравнивание пола фанерой
				p.services-list-i-text Выравнивание  пола фанерой – наиболее простой и легкий способ сделать пол в помещении идеально ровным.
			.services-list-i
				h3.services-list-i-title Демонтаж ламината
				p.services-list-i-text Не всегда рационально демонтировать старое покрытие. Например, паркет на лагах. А точнее паркетную доску, которую укладывали в старых домах...
			.services-list-i
				h3.services-list-i-title Выравнивание пола фанерой
				p.services-list-i-text Выравнивание  пола фанерой – наиболее простой и легкий способ сделать пол в помещении идеально ровным.


