.side
	.side-banner
		a.side-banner-a(href="#")
			.side-banner-img
				img(src="assets/images/side-banner.jpg", alt="banner img")
			.side-banner-content
				.side-banner-label Распродажа
				.side-banner-percent 70%
				.side-banner-title Весенняя распродажа
				.side-banner-text Безумные скидки
	.side-subscribe
		.side-subscribe-title Подпишитесь <br/>в Однокласниках
		.side-subscribe-text Уже более 114 000 подписчиков
		a.side-subscribe-button(href="#") <span class="side-subscribe-button-icon"></span> Подписаться
		


