.slider
	.slider-ul
		.slider-i
			.slider-i-label Выгодно
			.slider-i-img
				img(src="assets/images/slider-img-1.jpg", alt="slider img")
			.slider-fade
			.slider-i-content
				h3.slider-i-content-title Навстречу прекрасному
				p.slider-i-content-text Лучшие вещи для декора квартиры
				a.slider-i-content-button(href="#") Смотреть
		.slider-i
			.slider-i-label Выгодно
			.slider-i-img
				img(src="assets/images/slider-img-1.jpg", alt="slider img")
			.slider-fade
			.slider-i-content
				h3.slider-i-content-title Навстречу прекрасному
				p.slider-i-content-text Лучшие вещи для декора квартиры
				a.slider-i-content-button(href="#") Смотреть
		.slider-i
			.slider-i-label Выгодно
			.slider-i-img
				img(src="assets/images/slider-img-1.jpg", alt="slider img")
			.slider-fade
			.slider-i-content
				h3.slider-i-content-title Навстречу прекрасному
				p.slider-i-content-text Лучшие вещи для декора квартиры
				a.slider-i-content-button(href="#") Смотреть
		.slider-i
			.slider-i-label Выгодно
			.slider-i-img
				img(src="assets/images/slider-img-1.jpg", alt="slider img")
			.slider-fade
			.slider-i-content
				h3.slider-i-content-title Навстречу прекрасному
				p.slider-i-content-text Лучшие вещи для декора квартиры
				a.slider-i-content-button(href="#") Смотреть
	.slider-pagination
		a(data-slide-index="0" href="#") 1
		a(data-slide-index="1" href="#") 2
		a(data-slide-index="2" href="#") 3
		a(data-slide-index="3" href="#") 4
	.slider-buttons
		a.slider-buttons-prev(href="#") 
		a.slider-buttons-next(href="#") 