$topline-bg = #f7f7f7
$topline-menu-link = #a5a5a5
$topline-controls-link = #f9a11b
$topline-shops-link = #989898
$topline-shops-link-active = #2e2e2e

$header-body = #2e2e2e
$header-phones = #f9a11b
$header-cart-text = #464646
$header-filter = #f9a11b

$dark = #2e2e2e
$white = #fff
$orange = #f9a11b
$gray = #797979