extends ../layouts/default

block head
	- pageTitle = 'Ламинат эксперт - главная';
block top
	body
		include ../blocks/header
		block content
			.main
				include ../blocks/main-top
				include ../blocks/catalog-main
				include ../blocks/services
				include ../blocks/articles
				include ../blocks/description-bottom
			include ../blocks/footer
			include ../blocks/scripts