extends ../layouts/default

block head
	- pageTitle = 'Ламинат эксперт - личный кабинет';
block top
	body.page-profile
block content
	.main
		.inner
			include ../blocks/breadcrumbs-profile
			h1.inner-title Личный кабинет
			include ../blocks/profile-body
include ../blocks/footer
